<div>
  <app-course-header [name]="'Course Overview'"></app-course-header>
</div>

<div class="button_menu">
  <div>
    <a routerLink="/dashboard">
      <button mat-stroked-button>Dashboard</button>
    </a>
  </div>

  <div>
    <a routerLink="/profil">
      <button mat-stroked-button>Profil</button>
    </a>
  </div>
  <div>
    <button
      mat-stroked-button
      style="background-color: #064097; color: white"
      (click)="showFormCourse()"
    >
      {{ showAddCourse ? "Close Course Form" : "Add Course" }}
      <!-- <div *ngIf="!showAddCourse; else elseBlock">Add Course</div>
      <ng-template #elseBlock>Close Course Form</ng-template> -->
    </button>
  </div>
</div>

<div style="text-align: center; margin-top: 25px" *ngIf="showAddCourse">
  <app-course-add-form></app-course-add-form>
</div>

<div class="course_items">
  <div style="display: flex" *ngFor="let course of courses">
    <app-course-card [status]="{ course: course, action: 0 }"></app-course-card>
  </div>
</div>
