<div>
  <app-movie-header [name]="'Movie Overview'"> </app-movie-header>
</div>

<div class="button_menu">
  <div>
    <!-- Task 3 Continues here | Open the tag here & add the routerLink -->
    
      <button mat-stroked-button style="border: none">User Profil</button>
    <!-- Task 3 Continues here | Close the tag here -->
    
    <!-- Task 3 End -->

  </div>
</div>

<div class="movie_items">
  <div *ngFor="let movie of movies">
    <!-- Task 4.2 Continues  | Open the tag here & add the routerLink -->
    
      <mat-card class="movie_item">
        <!-- Taks 1.1 Continues | Add movie img here-->
        <img mat-card-image src=" " />

        <mat-card-content>
          <p>
            <!-- Taks 1.1 Continues | Add movie name here -->
            
            <!-- Task 1.1 End -->
          </p>
        </mat-card-content>
      </mat-card>
      <!-- Task 4.2 Continues | Close the tag here-->

    <!-- Task 4.2 End -->
  </div>
</div>