<div>
  <app-movie-header [name]="'Movie Overview'"> </app-movie-header>
</div>

<div class="button_menu">
  <div>
    <a routerLink="/profil">
      <button mat-stroked-button style="border: none">User Profil</button>
    </a>
  </div>
</div>

<div class="movie_items">
  <!-- Taks 1 start -->
  <div *ngFor="let movie of movies">
    <mat-card class="movie_item">
      <a routerLink="/detail/{{ movie.id }}">
        <!-- Taks 1 continue -->
        <img mat-card-image src="{{ movie.link }}" />

        <mat-card-content>
          <p>
            <!-- Taks 1 continue -->
            {{ movie.name }}
          </p>
        </mat-card-content>
      </a>
    </mat-card>
    <!-- Taks 1 ended -->
  </div>
</div>
