<div>
  <app-movie-header [name]="'Movie Overview'"> </app-movie-header>
</div>

<div class="button_menu">
  <div>
    <!-- Task 3 Continues here -->
    
      <button mat-stroked-button style="border: none">User Profil</button>
    <!-- Task 3 Continues here -->
    
    <!-- Task 3 Ended -->

  </div>
</div>

<div class="movie_items">
  <div *ngFor="let movie of movies">
    <!-- Task 4.2 Continues -->
    
      <mat-card class="movie_item">
        <!-- Taks 1.1 Continues Add movie img here-->
        <img mat-card-image src="" />

        <mat-card-content>
          <p>
            <!-- Taks 1.1 Continues Add movie name here -->
            
            <!-- Task 1.1 Ended -->
          </p>
        </mat-card-content>
      </mat-card>
      <!-- Task 4.2 Continues -->

    <!-- Task 4.2 Ended -->
  </div>
</div>
