<div>
  <mat-card>
    <h1 class="name_page">Course Dashboard</h1>
  </mat-card>
</div>

<div class="my_course_items">
  <div style="display: flex" *ngFor="let course of myCourses">
    <a
      routerLink="/detail/{{course.id}}"
    >
      <mat-card class="my_course_item">
        <img mat-card-image src={{course.link}} alt={{course.title}}>
        <mat-card-content>
          <p style="text-align: center">
            {{ course.title }}
          </p>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>


<div class="back_button">
  <button mat-stroked-button (click)="goBack()" color="primary">back</button>
</div>
