<div>
  <app-movie-header [name]="'Movie Detail'"></app-movie-header>
</div>

<div>
  <mat-card class="img_view">
    <!-- Taks 5 Start Add movie img here-->
    <img mat-card-image src=" " />
  </mat-card>
  <div class="title_view">
    <h2>
      <!-- Taks 5 Continues Add movie name here -->
    </h2>
  </div>
  <mat-card-content>
    <h3 class="detail_view">
      <div class="description_view">
        <strong>Description :</strong>
        <p>
          <!-- Taks 5 Continues Add movie description here -->
        </p>
      </div>
      <strong>Released Time :</strong>
      <p>
        <!-- Taks 5 Continues Add movie time here -->

        <!-- Taks 5 Ended -->
      </p>
    </h3>
  </mat-card-content>
  <div class="back_button">
    <button mat-stroked-button (click)="goBack()" color="primary">back</button>
  </div>
</div>
