.img_view {
  width: 40%;
  margin: 30px auto;
  padding-bottom: 0;
}

.title_view {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.detail_view {
  /* margin-left: 20rem; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.description_view {
  max-width: 80%;
}

.back_button {
  text-align: center;
}
