.name_page {
  text-align: center;
}

.user_info {
  display: flex;
  justify-content: space-evenly;
}

.user_view {
  margin-top: 20px;
  text-align: center;
}

.mat-form-field {
  width: 400px;
}

button {
  margin-left: 10px;
}
